@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 220px;
  height: 60px;
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

#nav_list {
  list-style: none;
  display: flex;
  gap: 20px;
}

#nav_list a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

#nav_list a:hover {
  color: #ff3b3b;
}

#nav_list a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff3b3b;
  transition: width 0.3s ease;
}

#nav_list a:hover::after,
#nav_list a.active::after {
  width: 100%;
}

#mobile_btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

#mobile_btn i {
  color: white;
}

#mobile_menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  #nav_list {
    display: none;
  }

  #mobile_btn {
    display: block;
    z-index: 1003;
    cursor: pointer;
  }

  #mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(63, 48, 48, 0.35);
    backdrop-filter: blur(6px);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1002;
  }

  #mobile_menu.show {
    display: flex;
    animation: slideDown 0.4s ease forwards;
  }

  #mobile_menu.hide {
    animation: slideUp 0.4s ease forwards;
  }

  #mobile_nav_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  #mobile_nav_list a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 500;
    display: block;
    text-align: center;
    
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
